*
!.gitignore
!about-strategy-team.jpg
!ascent-favicon.png
!ascent-logo.png
!ascent-mark.png
!contact-collaboration.jpg
!hero-business-analytics.jpg
!industry-education.jpg
!industry-financial-services.jpg
!industry-government.jpg
!industry-healthcare.jpg
!industry-infrastructure.jpg
!industry-retail.jpg
!service-change-support.jpg
!service-cloud-integration.jpg
!service-data-bi.jpg
!service-digital-strategy.jpg
!service-process-transformation.jpg
!service-product-engineering.jpg
!work-egovernance.jpg
!work-healthcare-analytics.jpg
!work-supply-chain.jpg
